@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.card_icon {
    font-size: 25px;
    color: blue;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: blue;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main';
    height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: 70px;
  margin: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  top: 0;
  background-color: #ffffff;
  padding: 10px;
  z-index: 100;
}

.menu-icon {
  display: none;
}

input {
  width: 40vw;
  margin-right: 6px;
  border-radius: 5px;
}

.header-left h6 {
    margin-top: 20px;
    font-size: 500;
}

/* .elipse {
  border-radius: 50%;
  background: #992621;
  cursor: pointer;
}

.elipse img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
} */

.profile-details {
  position: relative;
}

.logout-button {
  position: absolute;
  top: 110px; /* Adjust this value to position the logout button correctly */
  right: 10px;
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* End of Header */

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-brand img {
  width: 150px;
  height: 70px;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 18px;
  font-size: 22px;
  font-weight: 600;
}

.sidebar-list-item-active {
  padding: 20px;
  background-color: blue;
  border-radius: 10px;
  color: #fff;
  margin: 10px 10px;
  font-size: 22px;
  font-weight: 600;
}

.sidebar-list-item-active a {
  margin: 0;
  padding-left: 6px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}


.active-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-content {
    display: flex;
    align-items: center;
}

.active-button {
    margin-left: auto;
    cursor: pointer;
}

.sidebar-list-item a {
  color: #0437F2;
  margin: 0;
  padding-left: 6px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-responsive {
  display: block  ;
  position: absolute;
  width: 100%;
  background-color: #992621;
  z-index: 12 !important;
}

.bottom-button {
    position: absolute;
    bottom: 110px; /* Adjust this value to position the logout button correctly */
    padding: 10px 12px;
    background: blue;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 25px;
}

/* End of Sidebar */

/* Home */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 12px;
  color: rgba(255, 255, 255, 0.95);
  background: #fff;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2;
    padding: 20px;
}

.main-cards {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 8px;
}

.card-inner-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  
.card-inner-dashboard h3 {
    font-family: 'Poppins', serif;
    font-size: 23px;
    font-weight: 700;
    color: blue;
}



/* End of Home */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  .sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }

  .sidebar-responsive{
    display: block;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

} 

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

.phone-view {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 0;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column; /* Added to stack content vertically */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.top-nav {
  background: #0437F2;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-picture {
  width: 60px;
  height: 60px;
  margin: 0 auto 5px auto;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.phone-text {
  font-size: 14px;
  word-wrap: break-word;
  text-align: center;
}

.input-container {
  width: 100%;
}

.message-container {
  background: #d3e7fd;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 0;
  max-width: 80%; /* Adjust this to control the width of the message */
  align-self: flex-start; /* Aligns the message to the left */
  position: absolute;
  top: 100px; /* Adjust this to control the vertical position of the message */
  left: 10px; /* Adjust this to control the horizontal position of the message */
}

textarea {
  width: 100%;
  padding: 10px;
  /* border: 1px 0 #d3e7fd; */
  border-radius: 5px;
  resize: vertical;
}

.file-upload-box {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.file-input {
  display: none;
}

.file-label {
  background: #0437F2;
  color: #fff;
  font-weight: 500;
  padding: 10px 13px;
  border-radius: 5px;
}

.upload-icon {
  margin-left: 8px;
  font-size: 24px;
}